<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=LAPTOP-4CVBJOT7\SQLEXPRESS;database=ADOConnection;Integrated Security=true"
			 providerName="System.Data.SqlClient" name="default connection"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>